@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
}
p{
    font-size: 14px;
    font-weight: 500;
}

.container{
    display: flex;
    position: relative;
    top: 25%;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    height: auto;
    width: 45%;
    padding: 0;
    margin: 5rem auto;
    border-radius: 10px;
}
.container img{
    height: fit-content;
    width: 20rem;
    border-radius: 10px 0 0 10px;
}
.content{
    padding: 25px;
    margin: 0;
    text-align: left;
}

.content h1{
    font-family: 'Fraunces', serif;
    padding: 20px 0;
    color: hsl(212, 21%, 14%);
}
#perfume{
    letter-spacing: 5px;
}
#perfume-content{
    line-height: 20px;
}

.price-tag{
    margin: 20px 0;
}
#price{
    font-size: 2rem;
    padding-right: 10px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
#cut-price{
    text-decoration: line-through;
}

button{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
}
@media (min-width:375px) and (max-width: 1250px) {
    .container{
        flex-direction: column;
        width: min-content;
        margin: 10px auto;
    }
    .container img{
        content: url("images/image-product-mobile.jpg");
        border-radius: 10px 10px 0 0;
    }
}